
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.901);
    color: #e4fffa;
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 30px;
}
.box {
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 20px;
}

.upper-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.lower-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


h2 {
    font-family: 'Courier New', Courier, monospace;
}

.game-flash{
    background-color: black;

}

.user-flash{
    background-color: white;
}